@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    width: 100%;
    height: 100vh;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
#game {
    border: 1px solid #fff;
    background-color: #222;
}